<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Admin Dashboard</title>
</head>
<body>
    <nav>
        <div>
            <h1>InebriatingZenith</h1>
        </div>
        <div><a href="/admin/user_auth">User Authentication</a></div>
        <div><a href="/admin/user_bal">User Balance</a></div>
        <div><a href="/admin/orders">Orders</a></div>
        <div><a href="/admin/products">Products</a></div>
    </nav>
    <main>
        Choose something bruh.
    </main>
</body>

<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    nav {
        box-sizing: border-box;
        padding: 0.5em;
        border-right: 1px solid grey;
    }
</style>
</html>