<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Admin User Management</title>
</head>
<body>
    <nav>
        <div>
            <h1>InebriatingZenith</h1>
        </div>
        <div><a href="/admin/user_auth">User Authentication</a></div>
        <div><a href="/admin/user_bal">User Balance</a></div>
        <div><a href="/admin/orders">Orders</a></div>
        <div><a href="/admin/products">Products</a></div>
    </nav>
    <main>
        <div>
            <h2>Admin Management</h2>
            <form id="admin">
                <input type="text" id="admin_username" placeholder="Username">
                <input type="password" id="admin_password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
            <div id="admin_response"></div>
        </div>
        <div>
            <h2>User Management</h2>
            <ul>
                <li>
                    TODO
                </li>
            </ul>
        </div>
    </main>
</body>

<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    nav {
        box-sizing: border-box;
        padding: 0.5em;
        border-right: 1px solid grey;
    }
</style>

<style>

</style>

<script>
    $(document).ready(function () {
        $('#admin').submit(function () {
            $.post("/admin/api/add_admin",
                {
                    username: $('#admin_username').val(),
                    password: $('#admin_password').val()
                },
                function (data, status) {
                    if (data.success === true) {
                        $('#admin_username').css('border', '1px solid green');
                        $('#admin_response').html(data.message);
                    } else {
                        $('#admin_username').css('border', '1px solid red');
                        $('#admin_response').html(data.message);
                    }
                }
            );
            return false;
        });
    });
</script>
</html>